
body {
    font-family: "Jua", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
    background-image: url('https://images.unsplash.com/photo-1506748686214-e9df14d4d9d0');
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #353535;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    box-sizing: border-box;
    font-family: "Poetsen One", sans-serif;
}

.logo {
    font-size: 35px;
}

.auth {
    display: flex;
    gap: 15px;
}

.auth a {
    color: white;
    text-decoration: none;
}

.container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    margin: 70px auto 10px auto;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

.form-group .submit-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    width: 100%; /* Make the button width equal to the input width */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    font-family: "Jua", sans-serif;
}

.submit-btn:hover {
    background-color: #45a049;
}

.footer {
    background-color: #353535;
    color: white;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer i {
    margin: 0 5px;
}
